.title-info {
    /*background: linear-gradient(#1576F8, #589cf5);*/
    background-color: #1576F8;
}

footer {
    background-color: #020913;
}

footer a {
    color: white;
}


.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

html, body {
    margin: 0;
    height: 100%;
}

.nopad {
    padding-left: 0;
    padding-right: 0;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}